@media (prefers-color-scheme: dark) {

  #config-sections>h3 {
    color: cadetblue;
    background-color: teal;
  }

  #config-sections>h3.ui-state-hover {
    color: powderblue;
    background-color: darkcyan;
  }

  #config-sections>h3.ui-state-active {
    color: lightcyan;
    background-color: darkcyan;
  }

  #config-sections>div {
    background-color: powderblue;
    color: darkslategray;
    box-shadow: 0 0 5em cadetblue inset;
  }

  #uniform-color\:color-picker {
    background-color: dimgray;
    box-shadow: 0 0 1em dimgray;
  }

  .sortable-list>li:hover {
    color: lightcyan;
    background-color: cadetblue;
  }
  .sortable-list>li.ui-sortable-helper {
    box-shadow: 0.5em 0.5em 1em cadetblue;
  }
  .sortable-list>li.placeholder,
  .sortable-list>li.list-append:hover {
    border-color: teal;
  }
  .sortable-list>li.ui-sortable-helper,
  .sortable-list>li.list-append:active {
    background-color: darkcyan;
  }

  .sortable-list>li .list-remove:hover {
    background-color: darkcyan;
  }

  .sortable-list>li.item-edit {
    border-color: darkcyan;
    background-color: cadetblue;
  }

  ol[id$=':transition-list']>li .item-desc {
    color: cadetblue;
  }
  ol[id$=':transition-list']>li:hover .item-desc {
    color: powderblue;
  }

}

@media (prefers-color-scheme: light) {

  #config-sections>h3 {
    color: darkslategray;
    background-color: lightblue;
  }

  #config-sections>h3.ui-state-hover {
    color: navy;
    background-color: skyblue;
  }

  #config-sections>h3.ui-state-active {
    color: lightcyan;
    background-color: cadetblue;
  }

  #config-sections>div {
    background-color: lightcyan;
    color: darkolivegreen;
    box-shadow: 0 0 5em powderblue inset;
  }

  #uniform-color\:color-picker {
    background-color: gray;
    box-shadow: 0 0 1em gray;
  }

  .sortable-list>li:hover {
    color: navy;
    background-color: skyblue;
  }
  .sortable-list>li.ui-sortable-helper {
    box-shadow: 0.5em 0.5em 1em gray;
  }
  .sortable-list>li.placeholder,
  .sortable-list>li.list-append:hover {
    border-color: cadetblue;
  }
  .sortable-list>li.ui-sortable-helper,
  .sortable-list>li.list-append:active {
    color: lightcyan;
    background-color: cadetblue;
  }

  .sortable-list>li .list-remove:hover {
    background-color: cadetblue;
  }

  .sortable-list>li.item-edit {
    border-color: darkcyan;
    background-color: cadetblue;
  }

  ol[id$=':transition-list']>li .item-desc {
    color: cadetblue;
  }
  ol[id$=':transition-list']>li:hover .item-desc {
    color: darkcyan;
  }
  ol[id$=':transition-list']>li.ui-sortable-helper:hover .item-desc {
    color: powderblue;
  }

}

span.redir-link {
  cursor: pointer;
}

span.redir-link:hover {
  text-decoration: underline;
}

form#config-form {
  max-width: 40em;
  min-width: 30em;
  margin: 0 auto;
}

#config-form>div.cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: progress;
  display: none;
}

#config-form.syncing>div.cover {
  display: block;
  z-index: 100;
}

#config-sections>h3 {
  margin: 0.25em 0.5em 0;
  padding: 0.5em 0.7em 0.3em;
  border-radius: 0.66em 0 0;
}

#config-form.syncing>#config-sections>h3.ui-state-active::after {
  margin: 0 0.2em;
  font-family: "zw-icons";
  content: "\23F3";
  font-size: larger;
  line-height: 0;
  font-weight: normal;
}

#config-sections>div {
  margin: 0 0.5em;
  border-radius: 0 0 0.66em;
  padding: 0.5em 1em 1em;
}

#config-sections table {
  width: 100%;
  font-family: monospace;
}

#config-sections table thead {
  border-bottom-width: 3px;
  border-bottom-style: double;
}

#config-sections table tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

#config-sections table tbody tr:last-child {
  border-bottom: none;
}

#config-sections table tbody tr:first-child td,
#config-sections table tbody tr:last-child td {
  padding-top: 3pt;
}

#config-sections table.interactive tbody tr {
  cursor: pointer;
  line-height: 1.4em;
  white-space: nowrap;
  transition: height 1s ease-out;
}

#config-sections table.interactive th.tooling {
  width: 1em;
}

#config-sections table.interactive td span {
  pointer-events: none;
}

#config-sections table.interactive td.list-append:after {
  content: '\2795';
}

#config-sections table.interactive td.list-remove:after {
  content: '\274C';
}

#config-sections table.interactive td.list-append,
#config-sections table.interactive td.list-remove {
  opacity: 0.5;
}

#config-sections table.interactive td.list-append:hover,
#config-sections table.interactive td.list-remove:hover {
  opacity: 0.75;
}

#config-sections table.interactive td select,
#config-sections table.interactive td textarea {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  outline: none;
}

#config-sections table.interactive td textarea {
  resize: none;
}

#config-sections table.interactive td select>option {
  padding: 0.1em 0.2em;
}

#config-sections table.interactive td.transition-type {
  height: 3.5em;
}

span.color-sample {
  border-radius: 1em;
  padding: 0 0.6em;
}

#strip-length-slider {
  margin: 0.5em 0.75em;
}

#strip-length-slider .ui-slider-handle {
  width: 2.6em;
  margin-left: -1.3em;
}

#strip-length-slider .ui-slider-handle input {
  width: 2.5em;
}

form#config-form div.controls {
  text-align: center;
  margin: 1em;
}

form#config-form div.controls input {
  font-size: 12pt;
  font-weight: bold;
  width: 8em;
  padding: 0.5em;
  margin: 0 0.5em;
}

.color-picker-ctrl {
  margin: 0.5em;
}

.color-picker-ctrl>div {
  margin: 1pt;
  white-space: nowrap;
}

.color-picker-ctrl label>span {
  display: inline-block;
  width: 3.2em;
  text-align: right;
}

.color-picker-ctrl input {
  width: 5.2em;
  padding: 0.2em 0.3em;
  box-sizing: border-box;
  font-family: monospace;
}

#uniform-color\:duration-slider {
  margin: 0.5em 0.75em;
}

#uniform-color\:duration-slider .ui-slider-handle {
  width: 2.6em;
  margin-left: -1.3em;
}

#uniform-color\:duration-slider .ui-slider-handle input {
  width: 2.5em;
}

#uniform-color\:color-picker {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
}

.sortable-list {
  padding: 0;
  margin: 0.5em 0;
  list-style: none;
  counter-reset: sortable-list-index;
}
.sortable-list>li {
  margin: 0.25em;
  padding: 0.2em;
  user-select: none;
  cursor: pointer;
  border-width: 1pt;
  border-style: dashed;
  border-color: transparent;
  position: relative;
}
.sortable-list>li:not(.list-append, .placeholder) {
  padding: 0.2em 2.2em 0.2em 2.4em;
}
.sortable-list>li:not(.list-append, .placeholder):before {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1.8em;
  text-align: right;
  justify-content: center;
  flex-direction: column;
  counter-increment: sortable-list-index;
  content: counter(sortable-list-index) '.';
}
.sortable-list>li.item-edit {
  border-radius: 0.5em;
}
.sortable-list>li .list-remove {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.sortable-list>li .list-remove::before {
  content: '\274C';
}
.sortable-list>li.ui-sortable-helper {
  border-radius: 1em;
}
.sortable-list>li.placeholder,
.sortable-list>li.list-append {
  display: block;
  text-align: center;
}
.sortable-list>li.placeholder {
  border-radius: 1em;
}
.sortable-list>li.placeholder::before {
  content: '...';
}
.sortable-list>li.list-append {
  margin: 0 2em;
}
.sortable-list>li.list-append::before {
  content: '\2795';
}
.sortable-list>li .list-remove,
.sortable-list>li.list-append {
  opacity: 0.5;
}
.sortable-list>li .list-remove:hover,
.sortable-list>li.list-append:hover {
  opacity: 0.75;
}

#event-params\:recurrence span.embed-line-below {
  display: block;
  margin-bottom: -1em;
  position: relative;
}
#event-params\:recurrence div.tdex.container {
  margin-left: 0.5em;
}

.checkbox-enabled:has(input.enabler[type="checkbox"])>div.container {
  filter: contrast(0.6) brightness(0.8);
  transition: filter 0.25s;
  pointer-events: none;
}
.checkbox-enabled:has(input.enabler[type="checkbox"]:checked)>div.container {
  filter: none;
  pointer-events: all;
}

ol[id$=':transition-list'] {
  font-size: small;
}
ol[id$=':transition-list']>li .item-name {
  font-weight: bold;
}
