@media (prefers-color-scheme: dark) {

  ul.card-space li.card {
    border-color: powderblue;
    box-shadow: 0 0 .5em cadetblue;
  }

  ul.card-space li.card:active,
  ul.card-space li.card.dropzone.drag-hover {
    color: aliceblue;
    background-color: teal;
  }

  ul.card-space li.card.disabled,
  ul.card-space li.card.dropzone.disabled {
    color: gray;
    border-color: gray;
    box-shadow: 0 0 .5em dimgray;
  }

  ul.card-space li.card.disabled:active,
  ul.card-space li.card.dropzone.disabled.drag-hover {
    background-color: rgba(16, 32, 24, .3);
  }

  ul.card-space li.card:hover {
    box-shadow: 0 0 1em powderblue;
  }

  ul.card-space li.card.disabled:hover {
    border-color: gray;
    box-shadow: 0 0 .5em dimgray;
  }

  ul.card-space li.card.prog-test {
    background-image: linear-gradient(0deg, teal 28%, transparent 33%)
  }

  #config-timezone option.tz-local {
    color: azure;
  }

}

@media (prefers-color-scheme: light) {

  ul.card-space li.card {
    border-color: skyblue;
    box-shadow: 0 0 .5em lightskyblue;
  }

  ul.card-space li.card:active,
  ul.card-space li.card.dropzone.drag-hover {
    color: darkgreen;
    background-color: powderblue;
  }

  ul.card-space li.card.disabled,
  ul.card-space li.card.dropzone.disabled {
    color: dimgray;
    border-color: silver;
    box-shadow: 0 0 .5em gray;
  }

  ul.card-space li.card.disabled:active,
  ul.card-space li.card.dropzone.disabled.drag-hover {
    background-color: gainsboro;
  }

  ul.card-space li.card:hover {
    border-color: cadetblue;
    box-shadow: 0 0 1em cadetblue;
  }

  ul.card-space li.card.disabled:hover {
    border-color: silver;
    box-shadow: 0 0 .5em gray;
  }

  ul.card-space li.card.prog-test {
    background-image: linear-gradient(0deg, lightblue 28%, transparent 33%)
  }

  #config-timezone option.tz-local {
    color: darkslategray;
  }

}

ul.card-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  user-select: none;
  min-width: 40em;
}

ul.card-space li.card {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  min-width: 4.5em;
  border-radius: 1em;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  position: relative;
}

ul.card-space li.card.disabled {
  /* cursor: not-allowed; */
  pointer-events: none;
}

ul.card-space li.card .card-icon {
  font-size: 4em;
  line-height: 100%;
  margin-bottom: 6pt;
}

ul.card-space li.card.dropzone label {
  cursor: inherit;
  pointer-events: none;
}

ul.card-space li.card.dropzone input {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  z-index: -1;
}

#config-timezone-select {
  max-width: 16em;
}

#config-timezone option.tz-local {
  font-weight: bold;
  text-decoration: underline;
}

#config-timezone input[type="text"] {
  width: 3.5em;
  padding: 0.1em 0.3em;
}

div#config-timezone-local-time {
  font-size: small;
  padding: 0.2em;
}

#config-timezone label>span.align {
  display: inline-block;
  width: 6em;
}

input#config-timezone-custom {
  margin: 0.5e 0;
}